@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maincolor: #48466d;
  --primarycolor: #3d84a8;
  --secondarycolor: #46cdcf;
}

body {
  background: rgba(0, 0, 0, 0.7) url("./assets/bgimg6.jpg");
  background-blend-mode: darken;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("src/assets/bgimg1.png");
  background-size: cover;
  background-blend-mode: darken;
}
